<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        予約された部屋
      </h1>
    </div>
  </div>
</section>

<div >
  <table>
    <thead>
      <tr>
        <th>ルーム写真</th>
        <th>合計金額</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>予約確定日</th>
      </tr>
    </thead>
    <tbody>
      <% @reservations.each do |reservation|%>
        <% @inns.each do |inn| %>
          <tr>
            <th class="image is-3by2"><%= attachment_image_tag @inn, :image, fallback: "no-image.png" %></th>
            <th><%= reservation.total_price %></th>
            <th><%= reservation.start_date.to_s(:datetime_jp)  %></th>
            <th><%= reservation.end_date.to_s(:datetime_jp) %></th>
            <th><%= reservation.created_at.to_s(:datetime_jp)  %></th>
          </tr>
        <% end %>  
      <% end %>
    </tbody>
  </table>
</div>